{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": [
    ["transform-runtime", {
        "helpers": true, // defaults to true; v6.12.0 (2016-07-27) 新增;
        "polyfill": false, // defaults to true
        "regenerator": false, // defaults to true
        // v6.15.0 (2016-08-31) 新增
        // defaults to "babel-runtime"
        // 可以这样配置
        // moduleName: path.dirname(require.resolve('babel-runtime/package'))
        "moduleName": "babel-runtime"
      }
    ]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
